{% extends "administrador/layout.html" %}

{% block body %}
    <div class="flex flex-col justify-center items-center h-[10rem]">
        <h1 class="text-4xl text-center font-bold mb-4 capitalize ">Alumnos</h1>
    </div>
    
    <!-- Form -->
    <div class="bg-white shadow-md rounded-lg p-6 m-3 mb-9 flex flex-col items-center hidden" id="section-form"> 
        <h2 class="text-4xl text-center my-4 mb-10 capitalize">Agregar</h2>
        <form class="w-full" method="post">
            {% csrf_token %}
            <p id="csrf_token" class="hidden">{{ csrf_token }}</p>
            <div class="flex flex-row items-center">
                <div class="mb-4 w-1/2 mx-4">
                    <label for="nombre" class="block text-sm font-medium text-gray-700 capitalize">nombre</label>
                    <input type="text" name="nombre" id="nombre" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" value="{% if alumno.nombre %}{{ alumno.nombre }}{% endif %}">
                </div>
                <div class="mb-4 w-1/2 mx-4">
                    <label for="apellido" class="block text-sm font-medium text-gray-700 capitalize">apellido</label>
                    <input type="text" name="apellido" id="apellido" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" value="{% if alumno.apellido %}{{ alumno.apellido }}{% endif %}">
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="mb-4 mx-4 w-1/2">
                    <label for="cedula" class="block text-sm font-medium text-gray-700 capitalize">cedula</label>
                    <input type="text" name="cedula" id="cedula" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" value="{% if alumno.cedula %}{{ alumno.cedula }}{% endif %}">
                </div>
                <div class="mb-4 mx-4 w-1/2">
                    <label for="edad" class="block text-sm font-medium text-gray-700 capitalize">edad</label>
                    <input type="number" name="edad" id="edad" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" value="{% if alumno.edad %}{{ alumno.edad }}{% endif %}">
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="mb-4 w-1/3 mx-4">
                    <label for="turno" class="block text-sm font-medium text-gray-700 capitalize">turno</label>
                    <select name="turno" id="turno" class="block w-full border-gray-300 border rounded-md shadow-sm  text-sm text-gray-500 ">
                        <option value="">Seleccione una opción</option>
                        {% for option in turnos %}
                            <option value="{{ option.id }}">{{ option.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4 w-1/3 mx-4">
                    <label for="sexo" class="block text-sm font-medium text-gray-700 capitalize">sexo</label>
                    <select name="sexo" id="sexo" class="block w-full border-gray-300 border rounded-md shadow-sm text-sm text-gray-500">
                        <option value="">Seleccione una opción</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                </div>
                <div class="mb-4 mx-4 w-1/2">
                    <label for="telefono" class="block text-sm font-medium text-gray-700 capitalize">telefono</label>
                    <input type="text" name="telefono" id="telefono" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" value="{% if alumno.telefono %}{{ alumno.telefono }}{% endif %}">
                </div>
                <div class="mb-4 mx-4 w-1/2">
                    <label for="fecha_nacimento" class="block text-sm font-medium text-gray-700 capitalize">Fecha Nacimiento</label>
                    <input type="date" name="fecha_nacimento" id="fecha_nacimento" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" value="{% if alumno.fecha_nacimento %}{{ alumno.fecha_nacimento }}{% endif %}">
                </div> 
            </div>
            <div class="flex flex-row items-center">
                <div class="mb-4 mx-4 w-1/2">
                    <label for="direccion" class="block text-sm font-medium text-gray-700 capitalize">direccion</label>
                    <input type="textarea" name="direccion" id="direccion" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" value="{% if alumno.direccion %}{{ alumno.direccion }}{% endif %}">
                </div>
                <div class="mb-4 w-1/2 mx-4">
                    <label for="nivel_estudiantil" class="block text-sm font-medium text-gray-700 capitalize">Nivel estudiantil</label>
                    <select name="nivel_estudiantil" id="nivel_estudiantil" class="block w-full border-gray-300 border rounded-md shadow-sm text-sm text-gray-500">
                        <option value="">Seleccione una opción</option>
                        {% for option in nivel_estudiantiles %}
                            <option value="{{ option.id }}">{{ option.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4 w-1/2 mx-4">
                    <label for="nivel_ts" class="block text-sm font-medium text-gray-700 capitalize">Nivel ts</label>
                    <select name="nivel_ts" id="nivel_ts" class="block w-full border-gray-300 border rounded-md shadow-sm text-sm text-gray-500">
                        <option value="">Seleccione una opción</option>
                        {% for option in nivel_tss %}
                            <option value="{{ option.id }}">{{ option.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="flex flex-row items-center">
                <div class="mb-4 w-1/2 mx-4">
                    <label for="representantes" class="block text-sm font-medium text-gray-700 capitalize">Representantes</label>
                    <div id="representantes-field" class="flex flex-wrap gap-2"></div>
                    <flex class="flex flex-row items-center">
                        <input 
                            list="representantes-list" 
                            id="representantes" 
                            name="representantes" 
                            class="w-[90%] h-7 block w-full border-gray-300 border rounded-md shadow-sm rounded-r-none"
                        />

                    </flex>
                    
                    <datalist id="representantes-list">
                        {% for representante in representantes %}
                            <option value="{{ representante.nombre }}" data-id="{{ representante.id }}"></option>
                        {% endfor %}
                    </datalist>
                    <p class="text-xs text-gray-500">Escriba para buscar...</p>
                </div>
                <div class="mb-4 w-1/2 mx-4">
                    <label for="alergias" class="block text-sm font-medium text-gray-700 capitalize">Alergias</label>
                    <input 
                        list="alergias-list" 
                        id="alergias" 
                        name="alergias" 
                        class="block w-full border-gray-00 border rounded-md shadow-sm"
                    />
                    <datalist id="alergias-list">
                        {% for alergia in alergias %}
                            <option value="{{ alergia.nombre }}" data-id="{{ representante.id }}"></option>
                        {% endfor %}
                    </datalist>
                    <p class="text-xs text-gray-500">Escriba para buscar...</p>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="mb-4 w-1/2 mx-4">
                    <label for="condicion_especial" class="block text-sm font-medium text-gray-700 capitalize">Condicion Especial</label>
                    <select name="condicion_especial" id="condicion_especial" class=" block w-full border-gray-300 border rounded-md shadow-sm text-sm text-gray-500">
                        <option value="">Seleccione una opción</option>
                        {% for option in condicion_especiales %}
                            <option value="{{ option.id }}">{{ option.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4 w-1/2 mx-4">
                    <label for="tratamientos" class="block text-sm font-medium text-gray-700 capitalize">Tratamientos</label>
                    <input 
                        list="tratamientos-list" 
                        id="tratamientos" 
                        name="tratamientos" 
                        class="block w-full border-gray-300 border rounded-md shadow-sm"
                    />
                    <datalist id="tratamientos-list">
                        {% for tratamiento in tratamientos %}
                            <option value="{{ tratamiento.nombre }}"></option>
                        {% endfor %}
                    </datalist>
                    <p class="text-xs text-gray-500">Escriba para buscar...</p>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="mb-4 w-1/2 mx-4">
                    <label for="programa" class="block text-sm font-medium text-gray-700 capitalize">Programa</label>
                    <select name="programa" id="programa" class=" block w-full border-gray-300 border rounded-md shadow-sm text-sm text-gray-500">
                        <option value="">Seleccione una opción</option>
                        {% for option in programas %}
                            <option value="{{ option.id }}">{{ option.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4 w-1/2 mx-4">
                    <label for="agrupacion" class="block text-sm font-medium text-gray-700 capitalize">Agrupacion</label>
                    <select name="agrupacion" id="agrupacion" class=" block w-full border-gray-300 border rounded-md shadow-sm text-sm text-gray-500">
                        <option value="">Seleccione una opción</option>
                        {% for option in agrupaciones %}
                            <option value="{{ option.id }}">{{ option.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="flex flex-row items-center">
                <div class="mb-4 w-1/2 mx-4">
                    <label for="catedras" class="block text-sm font-medium text-gray-700 capitalize">Catedras</label>
                    <input 
                        list="catedras-list" 
                        id="catedras" 
                        name="catedras" 
                        class="block w-full border-gray-300 border rounded-md shadow-sm"
                    />
                    <datalist id="catedras-list">
                        {% for catedra in catedras %}
                            <option value="{{ catedra.nombre }}"></option>
                        {% endfor %}
                    </datalist>
                    <p class="text-xs text-gray-500">Escriba para buscar...</p>
                </div>
                <div class="mb-4 w-1/2 mx-4">
                    <label for="quien_retiras" class="block text-sm font-medium text-gray-700 capitalize">Quien retira?</label>
                    <input 
                        list="quien_retiras-list" 
                        id="quien_retiras" 
                        name="quien_retiras" 
                        class="block w-full border-gray-300 border rounded-md shadow-sm"
                    />
                    <datalist id="quien_retiras-list">
                        {% for quien_retira in quien_retiras %}
                            <option value="{{ quien_retira.nombre }}"></option>
                        {% endfor %}
                    </datalist>
                    <p class="text-xs text-gray-500">Escriba para buscar...</p>
                </div>
            </div>
            <!-- Sección de Instrumentos -->
            <div class="flex flex-col w-full my-6">
                <h2 class="text-xl font-bold mb-4">Instrumentos</h2>
                <input type="hidden" name="numero-instrumentos" id="numero-instrumentos" value="1">
                <div id="seccion-instrumentos">
                    <div class="mb-4 flex flex-row items-center" id="instrumento-1">
                        <div class="w-1/3 mb-4 mx-4 instrumento">
                            <label for="instrumento-nombre-1" class="block text-sm font-medium text-gray-700 capitalize">Nombre del instrumento</label>
                            <input type="text" name="instrumento-nombre-1" id="instrumento_nombre" class="h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" placeholder="Ingrese nombre del instrumento">
                        </div>
                        <div class="w-1/3 mb-4 mx-4">
                            <label for="instrumento-serial-1" class="block text-sm font-medium text-gray-700 capitalize">Serial del instrumento</label>
                            <input type="text" name="instrumento-serial-1" id="instrumento_serial" class="h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" placeholder="Ingrese serial del instrumento">
                        </div>
                        <div class="w-1/3 mb-4 mx-4">
                            <label for="instrumento-asignado-1" class="block text-sm font-medium text-gray-700 capitalize">Estado</label>
                            <select name="instrumento-asignado-1" id="instrumento_asignado" class="h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm">
                                <option value="Asignado">Asignado</option>
                                <option value="Propio">Propio</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <!-- Botón para agregar más instrumentos -->
                
            </div>
            <div class="flex justify-end">
                <button type="button" class="bg-gray-800 text-white px-4 py-2 my-2 rounded" id="agregar_instrumento">Agregar otro instrumento</button>
            </div>
            <div class="flex justify-between mt-4">
                <button type="submit" class="bg-gray-800 text-white px-4 py-2 my-2 rounded">Guardar</button>
                <button type="button" id="cancel-button" class="bg-gray-800 text-white px-4 py-2 my-2 rounded">Volver</button>
            </div>
        </form>
    </div>
    
    <!-- End Form -->
    
    <!-- Data Table -->
    <div class="bg-white shadow-md rounded-lg p-6 m-3 mb-9 " id="section-table">
        <a id="crear-btn" class="bg-gray-800 text-white px-4 py-2 my-2 rounded" href="#">
            Crear
        </a>
        <div class="overflow-x-auto">
            <table class="min-w-full table-auto" id="entry-table">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">   
                        <th class="py-3 px-6 text-center" width="25">
                            Nombre
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Apellido
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Cédula
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Edad
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Sexo
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Fecha de Nacimiento
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Teléfono
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Dirección
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Representantes
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Turno
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Nivel Estudiantil
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Nivel TS
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Alergias
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Condición Especial
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Tratamientos
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Programa
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Quien Retira
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Cátedras
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Agrupación
                        </th>
                        <th class="py-3 px-6 text-center" width="25">
                            Instrumentos
                        </th>
                        <th class="py-3 px-6 text-left">Acciones</th>                    
                    </tr> 
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                    {% for alumno in alumnos %}
                        <tr class="border-b border-gray-200 hover:bg-sky-100" onclick="event.stopPropagation();goToURL(window.location + '{{ alumno.id }}');">

                            <td class="py-3 px-6 text-left">
                                {% if alumno.nombre %}
                                    {{ alumno.nombre }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.apellido %}
                                    {{ alumno.apellido }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.cedula %}
                                    {{ alumno.cedula }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.edad %}
                                    {{ alumno.edad }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.sexo %}
                                    {{ alumno.sexo }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.fecha_nacimiento %}
                                    {{ alumno.fecha_nacimiento }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.telefono %}
                                    {{ alumno.telefono }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.direccion %}
                                    {{ alumno.direccion }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% for representante in alumno.representantes.all %}
                                    {{ representante.nombre }}
                                    {% if representante != alumno.representantes.all.last %},{% endif %}
                                {% empty %}
                                Ninguno
                                {% endfor %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.turno %}
                                    {{ alumno.turno.nombre }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.nivel_estudiantil %}
                                    {{ alumno.nivel_estudiantil.nombre }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.nivel_ts %}
                                    {{ alumno.nivel_ts.nombre }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% for alergias in alumno.alergias.all %}
                                    {{ alergia.nombre }}
                                    {% if alergia != alumno.alergias.all.last %},{% endif %}
                                {% empty %}
                                Ninguno
                                {% endfor %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.condicion_especial %}
                                    {{ alumno.condicion_especial.nombre }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% for tratamiento in alumno.tratamientos.all %}
                                    {{ tratamiento.nombre }}
                                    {% if tratamiento != alumno.tratamientos.all.last %},{% endif %}
                                {% empty %}
                                Ninguno
                                {% endfor %}    
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.programa %}
                                    {{ alumno.programa.nombre }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% for quien_retira in alumno.quien_retiras.all %}
                                    {{ quien_retira.nombre }}
                                    {% if quien_retira != alumno.quien_retiras.all.last %},{% endif %}
                                {% empty %}
                                Ninguno
                                {% endfor %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% for catedra in alumno.catedras.all %}
                                    {{ catedra.nombre }}
                                    {% if catedra != alumno.catedras.all.last %},{% endif %}
                                {% empty %}
                                Ninguno
                                {% endfor %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% if alumno.agrupacion %}
                                    {{ alumno.agrupacion.nombre }}
                                {% else %}
                                    Ninguno
                                {% endif %}
                            </td>
                            <td class="py-3 px-6 text-left">
                                {% for instrumento in alumno.instrumentos.all %}
                                    
                                    {{ instrumento.serial }}
                                    {% if instrumento != alumno.instrumentos.all.last %},{% endif %}
                                {% empty %}
                                Ninguno
                                {% endfor %}
                            </td>
                            
                            <td class="py-3 px-6 text-left flex flex-row">
                                <i class="fa-solid fa-pen mx-2 text-xl z-10 hover:text-3xl" onclick="editEntry('{{ entry.id }}');"></i>
                                <i class="fa-solid fa-xmark mx-2 text-xl" onclick="deleteEntry('{{ entry.id }}')"></i>
                            </td>
                        </tr>
                        {% empty %}
                            <td class="py-3 px-6 text-left">Sin registros</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <script>
        let instrumentoList = [];
        document.addEventListener('DOMContentLoaded', () => {
            const crearBtn = document.getElementById('crear-btn');
            const formContainer = document.getElementById('section-form');
            const tableContainer = document.getElementById('section-table');
            const cancelButton = document.getElementById('cancel-button');
    
            crearBtn.addEventListener('click', (event) => {
                event.preventDefault(); 
                formContainer.classList.remove('hidden'); 
                tableContainer.classList.add('hidden'); 
            });
    
            cancelButton.addEventListener('click', () => {
                formContainer.classList.add('hidden');
                tableContainer.classList.remove('hidden'); 
            });
    
            if (checkFormVisibilityByParams()) {
                toggleFormVisibility();
            };
            if (checkDeletedEntryByParams()) {
                success
            }

            let representantesField = new ManyToManyField('representantes');
        });
        document.getElementById('agregar_instrumento').addEventListener('click', function() {
                let instrumentoNumber = document.querySelector('#seccion-instrumentos').querySelectorAll('.instrumento').length;
                var instrumentoForm = document.createElement('div');
                document.querySelector('#numero-instrumentos').value = instrumentoNumber + 1;
                instrumentoForm.classList.add('flex', 'flex-row', 'items-center', 'my-4');
                instrumentoForm.innerHTML = `
                    <div class="w-1/3 mb-4 mx-4">
                        <label for="instrumento-nombre-${instrumentoNumber+1}" class="block text-sm font-medium text-gray-700 capitalize">Nombre del instrumento</label>
                        <input type="text" name="instrumento-nombre-${instrumentoNumber+1}" class="h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" placeholder="Ingrese nombre del instrumento">
                    </div>
                    <div class="w-1/3 mb-4 mx-4">
                        <label for="instrumento-serial-${instrumentoNumber+1}" class="block text-sm font-medium text-gray-700 capitalize">Serial del instrumento</label>
                        <input type="text" name="instrumento-serial-${instrumentoNumber+1}" class="h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm" placeholder="Ingrese serial del instrumento">
                    </div>
                    <div class="w-1/3 mb-4 mx-4">
                        <label for="instrumento-asignado-${instrumentoNumber+1}" class="block text-sm font-medium text-gray-700 capitalize">Estado</label>
                        <select name="instrumento-asignado-${instrumentoNumber+1}" class="h-8 mt-1 block w-full border-gray-300 border rounded-md shadow-sm">
                            <option value="Asignado">Asignado</option>
                            <option value="Propio">Propio</option>
                        </select>
                    </div>
                `;

                document.querySelector('.flex.flex-col.w-full.my-6').appendChild(instrumentoForm);
            });

        //Para modificar la tabla 
        
        let table = new DataTable('#entry-table');
    
       /*comment %}  document.addEventListener('DOMContentLoaded', () => {
            let tableModifier = document.querySelector('.dt-layout-row');
            tableModifier.classList.toggle('hidden');
            tablemodi.clone().appendTo('#anotherDiv');
        $('#parentOfOldElement #yourElement').remove();
        });*/
    </script>
{% endblock %}
