{% extends "administrador/layout.html" %}
{% load static %}

{% block body %}
<div class="mx-auto">
    <div class="container mx-auto px-7 py-8">
        <h1 class="text-2xl text-center font-bold mb-4">Agregar Alumno</h1>

        <form method="POST" id="alumnoForm" class="">
            {% csrf_token %}
            <div class="flex flex-col">
                <div class="flex flex-col lg:flex-row">
                    {% for field in form %}
                        {% if field == "text" %}
                        <div class="lg:w-1/2 mx-1">
                            <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
                        {% elif field == "integer"%}
                        <div class="lg:w-1/2 mx-1">
                            <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
                        {% endif %}
                    {% endfor %}
                    
                    <div class="lg:w-1/2 mx-1">
                        <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    <div class="lg:w-1/2 mx-1">
                        <label for="apellido" class="block text-sm font-medium text-gray-700">Apellido</label>
                        <input type="text" name="apellido" id="apellido" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                </div>
                
                <div class="flex lg:flex-row flex-col">
                    <div class="lg:w-1/2 lg:mx-1 mx-1">
                        <label for="cedula" class="block text-sm font-medium text-gray-700">Cédula</label>
                        <input type="number" name="cedula" id="cedula" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    <div class="flex flex-row lg:w-1/2">
                        <div class="w-[50%] lg:w-1/2 ml-1 lg:mx-1 lg:mx-0">
                            <label for="edad" class="block text-sm font-medium text-gray-700">Edad</label>
                            <input type="number" name="edad" id="edad" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
        
                        <div class="w-[50%] mx-1 lg:w-1/2">
                            <label for="sexo" class="block text-sm font-medium text-gray-700">Sexo</label>
                            <select name="sexo" id="sexo" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                
                <div class="flex flex-col lg:flex-row mx-1">
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="direccion" class="block text-sm font-medium text-gray-700">Dirección</label>
                        <input type="text" name="direccion" id="direccion" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="telefono" class="block text-sm font-medium text-gray-700">Telefono</label>
                        <input type="number" name="telefono" id="telefono" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                </div>

                <div class="flex flex-col lg:flex-row mx-1">
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="nivel_estudiantil" class="block text-sm font-medium text-gray-700">Nivel Estudiantil</label>
                        <input type="text" name="nivel_estudiantil" id="nivel_estudiantil" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="programa" class="block text-sm font-medium text-gray-700">Programa</label>
                        <input type="text" name="programa" id="direccion" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    
                </div>

                <div class="flex flex-col lg:flex-row mx-1">
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="agrupacion" class="block text-sm font-medium text-gray-700">Agrupación</label>
                        <input type="text" name="agrupacion" id="agrupacion" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="catedra" class="block text-sm font-medium text-gray-700">Cátedra</label>
                        <input type="text" name="catedra" id="catedra" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row mx-1">
                    <div class="w-[50%] mx-1 lg:w-1/2">
                        <label for="turno" class="block text-sm font-medium text-gray-700">Turno</label>
                        <select name="turno" id="turno" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                            <option value="Mañana">Mañana</option>
                            <option value="Tarde">Tarde</option>
                        </select>
                    </div>
                    <div class="w-[50%] mx-1 lg:w-1/2">
                        <label for="turno" class="block text-sm font-medium text-gray-700">Tipo Beca</label>
                        <select name="turno" id="turno" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                            <option value=""></option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row mx-1">
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="medicamento" class="block text-sm font-medium text-gray-700">Medicamento</label>
                        <input type="text" name="medicamento" id="medicamento" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="tratamiento" class="block text-sm font-medium text-gray-700">Tratamiento</label>
                        <input type="text" name="tratamiento" id="tratamiento" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row mx-1">
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="desc_tratamiento" class="block text-sm font-medium text-gray-700">Descripción Tratamiento</label>
                        <input type="text" name="desc_tratamiento" id="desc_tratamiento" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="condicion" class="block text-sm font-medium text-gray-700">Condición Especial</label>
                        <input type="text" name="condicion" id="condicion" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row mx-1">
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="alergia" class="block text-sm font-medium text-gray-700">Alergia</label>
                        <input type="text" name="alergia" id="alergia" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                    <div class="w-full lg:w-1/2 mx-1">
                        <label for="desc_instrumento" class="block text-sm font-medium text-gray-700">Descripción Alergia</label>
                        <input type="text" name="desc_instrumento" id="desc_instrumento" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                    </div>
                </div>
            </div>
            <div class="" id="seccion-instrumento">
                <div id="instrumentoForm" class="mt-8 w-full">
                    <h2 class="text-xl text-center font-semibold mb-3">Información del Instrumento</h2>
                    
                    <div class="flex lg:flex-row flex-col">
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="inst_nombre" class="block text-sm font-medium text-gray-700">Instrumento</label>
                            <input type="text" name="inst_nombre" id="inst_nombre" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
        
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="inst_marca" class="block text-sm font-medium text-gray-700">Marca</label>
                            <input type="text" name="inst_marca" id="inst_marca" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
                    </div>
                    
                    <div class="flex lg:flex-row flex-col">
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="inst_modelo" class="block text-sm font-medium text-gray-700">Modelo</label>
                            <input type="text" name="inst_modelo" id="inst_modelo" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
        
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="inst_serial" class="block text-sm font-medium text-gray-700">Serial</label>
                            <input type="email" name="inst_serial" id="inst_serial" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
                    </div>

                    <div class="flex lg:flex-row flex-col">
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="inst_categoria" class="block text-sm font-medium text-gray-700">Categoria</label>
                            <select name="inst_categoria" id="inst_categoria" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                                <option value="Masculino">Asignado</option>
                                <option value="Femenino">Propio</option>
                            </select>
                        </div>
        
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="inst_color" class="block text-sm font-medium text-gray-700">Color</label>
                            <input type="email" name="inst_color" id="inst_color" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
                    </div>

                    <div class="flex lg:flex-row flex-col">
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="inst_accesorios" class="block text-sm font-medium text-gray-700">Accesorios</label>
                            <input type="text" name="inst_accesorios" id="inst_accesorios" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
        
                       
                    </div>

                
    
                </div>
            </div>
            <div class="" id="seccion-representante">
                <div id="representanteForm" class="mt-8 w-full">
                    <h2 class="text-xl text-center font-semibold mb-3">Datos del Representante</h2>
                    
                    <div class="flex lg:flex-row flex-col">
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="rep_nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                            <input type="text" name="rep_nombre" id="rep_nombre" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
        
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="rep_cedula" class="block text-sm font-medium text-gray-700">Cédula</label>
                            <input type="text" name="rep_cedula" id="rep_cedula" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
                    </div>
                    
                    <div class="flex lg:flex-row flex-col">
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="rep_telefono" class="block text-sm font-medium text-gray-700">Teléfono</label>
                            <input type="text" name="rep_telefono" id="rep_telefono" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
        
                        <div class="lg:w-1/2 lg:mx-1 w-full">
                            <label for="rep_email" class="block text-sm font-medium text-gray-700">Email</label>
                            <input type="email" name="rep_email" id="rep_email" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
                    </div>
                   
    
                </div>
            </div>
            <div class="" id="seccion-quienretira">
                <div id="quienretiraForm" class="mt-8  w-full">
                    <h2 class="text-xl text-center font-semibold mb-3">Informacion sobre Quién retira</h2>
                
                    <div class="flex lg:flex-row flex-col justify-center items-center">
                        <div class="lg:w-2/5 lg:mx-1 w-full mx-auto text-center">
                            <label for="nombre_quienretira" class="block text-sm font-medium text-gray-700">Persona que retira</label>
                            <input type="text" name="nombre_quienretira" id="nombre_quienretira" class="indent-1.5 h-8 mt-1 block w-full border-gray-300 rounded-md shadow-sm">
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="flex justify-center">
                <button type="submit" class="bg-gray-800 text-white px-5 py-4 my-5 rounded">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let seccionRepresentante = document.querySelector("#seccion-representante")
        let campoEdad = document.querySelector("#edad");
        console.log(campoEdad);
        campoEdad.addEventListener("input", () => {
            if (parseInt(campoEdad.value) >= 18) {
                seccionRepresentante.classList.add("hidden");
            } else {
                seccionRepresentante.classList.remove("hidden");
            }
        })

    })
</script>



{% endblock %}