{% extends "administrador/layout.html" %}

{% block body %}
<h1 class="text-4xl flex items-center font-bold mb-4 justify-center h-[5rem]">{{ title }} #{{ entry.id }}</h1>
<div class="bg-white shadow-md rounded-lg p-6 m-3 mb-9 flex flex-col items-center">
    <h2 class="text-4xl text-center my-4 mb-4 capitalize">Editar</h2>
    <p class="hidden" id="csrf_token">
        {{ csrf_token }}
    </p>
    <form id="main-form">

        <div class="grid lg:grid-cols-3">
            {% for field in model_form %}
            
            <div class="flex flex-col mx-4 my-2">
                <div class="flex flex-row my-1">
                    <p>{{ field.name|title }}
                        {% if field.field.widget.input_type == "select" and field.name != "sexo" %}
                        <button type="button" class="modal-openner ml-4 text-blue-600" id="modal-{{ field.name }}">
                            Agregar<i class="fas fa-plus ml-2"></i> 
                        </button>
                        {% endif %}
                    </p>
                    <div id="modal-wrapper-{{ field.name }}" class="fixed z-10 inset-0 hidden">
                        <div class="flex items-center justify-center min-h-screen bg-gray-800 bg-opacity-75 transition-all ">
                            <form id="form-{{ field.name }}" class="flex flex-col items-center justify-between bg-white p-10 rounded w-2/3">
                                <h3 class="text-3xl">Agregar {{ field.name|title }}</h3>
                                <div class="w-full">
                                    <div class="grid lg:{% if field.name == 'alergias' or field.name == 'condicion_especial' %}grid-cols-1{% else %}grid-cols-3{% endif %}">
                                        {% for name, form in forms.items %}
                                            {% if name == field.name %}
                                                {% for subfield in form %}
                                                
                                                <div class="flex flex-col mx-4 my-2">
                                                    <div class="flex flex-row my-1">
                                                        <p>{{ subfield.name|title }}  
                                                        </p>
                                                    </div>
                                                    
                                                    {{ subfield }}
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <button type="button" id="close-modal-btn-{{ field.name }}" class="modal-close bg-gray-800 text-white px-4 py-2 m-4 rounded">
                                        Cerrar
                                    </button>
                                    <button type="button" id="save-modal-btn-{{ field.name }}" class="modal-close bg-gray-800 text-white px-4 py-2 m-4 rounded" onclick="saveCreateEntry('form-{{ field.name }}', null, )">
                                        Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                {{ field }}
            </div>
        {% endfor %}
        </div>
        <div class="flex justify-start mt-4">
            <button type="button" id="back-buton" class="bg-gray-800 text-white px-4 py-2 m-4 rounded" onclick="goToURL(window.location.href.split('/').slice(0, -1).join('/'))">Volver</button>
            <button type="submit" id="save-button" class="bg-gray-800 text-white px-4 py-2 m-4 rounded" onclick="saveEditEntry('{{ main_endpoint }}/{{ entry.id }}')">Guardar</button>
            <button type="button" id="cancel-button" class="bg-gray-800 text-white px-4 py-2 m-4 rounded" onclick="localStorage.removeItem('formData'); removeFormParams()">Cancelar</button>
            <button type="button" id="edit-button" class="bg-gray-800 text-white px-4 py-2 m-4 rounded hidden" onclick="setFormParams()">Editar</button>
            <button type="button" id="delete-button" class="bg-red-600 text-white px-4 py-2 m-4 rounded" onclick="deleteEntry('{{ entry.id }}');">Eliminar</button>
        </div>
    </form>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        toggleEditMode();
        if (checkFormVisibilityByParams()) {
            toggleEditMode();
        };
        
       
        const cancelButton = document.getElementById('cancel-button');
    

        cancelButton.addEventListener('click', () => {
            formContainer.classList.add('hidden');
            tableContainer.classList.remove('hidden'); 
        });
        document.querySelectorAll('.modal-openner').forEach(element => {
                let tableName = element.id.toString().split('-').slice(-1)[0];
                let modal = document.querySelector(`#modal-wrapper-${tableName}`);
                element.addEventListener('click', () => {
                    modal.classList.remove('hidden');
            })
        });
        document.querySelectorAll('.modal-close').forEach(element => {
            let tableName = element.id.toString().split('-').slice(-1)[0];
            let modal = document.querySelector(`#modal-wrapper-${tableName}`);
            element.addEventListener('click', () => {
                modal.classList.add('hidden');
            })
        });

    });
    
    
</script>
{% endblock %}
