{% extends "administrador/layout.html" %}

{% block body %}
<div class="flex flex-col justify-center items-center h-[10rem]">
    <h1 class="text-4xl text-center font-bold mb-4 capitalize ">{{ title }}</h1>
</div>

<!-- Form -->
<div class="bg-white shadow-md rounded-lg p-6 m-3 mb-9 flex flex-col items-center hidden" id="section-form"> 
    <h2 class="text-4xl text-center my-4 mb-4 capitalize">Agregar</h2>
    <p class="hidden" id="csrf_token">
        {{ csrf_token }}
    </p>
    <form action="" id="main-form">
        <div class="grid lg:grid-cols-3">
            {% for field in model_form %}
            
            <div class="flex flex-col mx-4 my-2">
                <div class="flex flex-row my-1">
                    <p>{{ field.name|title }}
                        {% if field.field.widget.input_type == "select" and field.name != "sexo" and field.name != "asignado" %}
                        <button type="button" class="modal-openner ml-4 text-blue-600" id="modal-{{ field.name }}">
                            Agregar<i class="fas fa-plus ml-2"></i> 
                        </button>
                        {% endif %}
                    </p>
                    <div id="modal-wrapper-{{ field.name }}" class="fixed z-10 inset-0 hidden overflow-y-scroll">
                        <div class="flex  items-center justify-center min-h-screen bg-gray-800 bg-opacity-75 transition-all ">
                            <form class="flex flex-col items-center justify-between bg-white p-10 rounded w-2/3" id="form-{{ field.name }}">
                                <h3 class="text-3xl">Agregar {{ field.name|title }}</h3>
                                <div class="w-full">
                                    <div class="  grid lg:{% if field.name == 'alergias' or field.name == 'condicion_especial' %}grid-cols-1{% else %}grid-cols-3{% endif %}">
                                        {% for name, form in forms.items %}
                                            {% if name == field.name %}
                                                {% for subfield in form %}
                                                
                                                <div class="flex flex-col mx-4 my-2">
                                                    <div class="flex flex-row my-1">
                                                        <p>{{ subfield.name|title }}  
                                                        </p>
                                                    </div>
                                                    
                                                    {{ subfield }}
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <button type="button" id="close-modal-btn-{{ field.name }}" class="modal-close bg-gray-800 text-white px-4 py-2 m-4 rounded">
                                        Cerrar
                                    </button>
                                    <button type="button" id="save-modal-btn-{{ field.name }}" class="modal-save save bg-gray-800 text-white px-4 py-2 m-4 rounded" onclick="saveCreateEntry('form-{{ field.name }}', null, '{% for endpoint_name, endpoint in endpoints.items %}{% if endpoint_name == field.name %}{{ endpoint}}{%endif %}{% endfor %}')">
                                        Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                {{ field }}
            </div>
        {% endfor %}
        </div>
        <div class="flex justify-between mt-4">
            <button type="button" id="save-button" class="save bg-gray-800 text-white px-4 py-2 m-4 rounded" onclick="saveCreateEntry('main-form', 'save-button',  '{{ main_endpoint }}')">Guardar</button>
            <button type="button" id="cancel-button" class="bg-gray-800 text-white px-4 py-2 m-4 rounded">Volver</button>
        </div>
    </form>
    
</div>

<!-- End Form -->

<!-- Data Table -->
<div class="bg-white shadow-md rounded-lg p-6 m-3 mb-9 " id="section-table">
    <button type="button" id="crear-btn" class="bg-gray-800 text-white px-4 py-2 my-2 rounded" >
        Crear
    </button>
    <div class="overflow-x-auto">
        <table class="min-w-full table-auto" id="entry-table">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    {% if first_entry %}
                        {% for field_name, field_value in first_entry.items %}
                            {% if field_name != "activo" %}
                                {% if field_name == "id" %}
                                    <th class="py-3 px-6 text-center" width="25">
                                        {{ field_name }}
                                    </th>
                                {% else %}
                                    <th class="py-3 px-6 text-left"> 
                                        {{ field_name }}
                                    </th>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <th class="py-3 px-6 text-left">Acciones</th>
                    {% else %}
                        <th>Sin registros</th>
                    {% endif %}
                </tr> 
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for entry in entries %} 
                    <tr class="border-b border-gray-200 hover:bg-sky-100" onclick="event.stopPropagation(); goToURL(window.location + '{{ entry.id }}');">
                        {% for field_name, field_value in entry.items %}
                            {% if field_name != "activo" %}
                                <td class="py-3 px-6 text-left">
                                    {% if field_value %}
                                        {{ field_value }}
                                    {% else %}
                                        Ninguno
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% empty %}
                            <td class="py-3 px-6 text-left">Sin registros</td>
                        {% endfor %}
                        <td class="py-3 px-6 text-left flex flex-row">
                            <i class="fa-solid fa-pen mx-2 text-xl z-10 hover:text-3xl" onclick="editEntry('{{ entry.id }}'); setFormParams()"></i>
                            <i class="fa-solid fa-xmark mx-2 text-xl" onclick="event.stopPropagation(); deleteEntry('{{ entry.id }}')"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const crearBtn = document.getElementById('crear-btn');
        const formContainer = document.getElementById('section-form');
        const tableContainer = document.getElementById('section-table');
        const cancelButton = document.getElementById('cancel-button');

        crearBtn.addEventListener('click', (event) => {
            setFormParams();
        });

        cancelButton.addEventListener('click', () => {
            removeFormParams();
        });

        if (checkFormVisibilityByParams()) {
            toggleFormVisibility();
        };
        if (checkDeletedEntryByParams()) {
            success
        }

        document.querySelectorAll('.modal-openner').forEach(element => {
                let tableName = element.id.toString().split('-').slice(-1)[0];
                let modal = document.querySelector(`#modal-wrapper-${tableName}`);
                element.addEventListener('click', () => {
                    modal.classList.remove('hidden');
                })
            });
        document.querySelectorAll('.modal-close').forEach(element => {
            let tableName = element.id.toString().split('-').slice(-1)[0];
            let modal = document.querySelector(`#modal-wrapper-${tableName}`);
            element.addEventListener('click', () => {
                modal.classList.add('hidden');
            })
        });

    });
    //tags
    
    //Para modificar la tabla 
    
    
    let table = new DataTable('#entry-table');

   /*comment %}  document.addEventListener('DOMContentLoaded', () => {
        let tableModifier = document.querySelector('.dt-layout-row');
        tableModifier.classList.toggle('hidden');
        tablemodi.clone().appendTo('#anotherDiv');
    $('#parentOfOldElement #yourElement').remove();
    });*/

    window.addEventListener('load', () => loadFormData());
    window.addEventListener('beforeunload', () => saveFormData());

</script>
{% endblock %}